html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  background: #e7e7e7;
  height: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css);

header {
   

}
header container {
    height: 250px;
}

main {
    margin-top : 50px
}
.nav-pills {
    margin: 20px 10px;
}

.card {
    border:none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;

}

.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}

.cost span{
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}

.cart {
    background: #dc3545;
    color: #cbcbcb;
}

.cart a{
    color: #cbcbcb;
}

.text1 {
    font-size: 13px;
    color: #cbcbcb;
}

.info {
    line-height: 17px;
}

.star {
    color: #fbc02d;
}

.cost span{
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}