html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



body {
    background-image: url(/public/img/pattern.jpg);
}

header {
    margin: 0;
    top: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 4;
    
}

nav ul a {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 50px;
    font-weight: bold;
}
section {
    background-color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1024px;
    padding: 10px 5px;
    padding-top: 50px;
}

section h1{
    text-align: center;
    margin-bottom: 20px;
}

article {
    margin-bottom: 75px;
    padding: 20px 10px;
    border-bottom: solid 1px black;
}

article h3 {
    margin-bottom: 15px;
}
#logo {
    float:left;
}


footer {
    text-align: center;
    color: aliceblue;
    width: 100%;
    line-height: 50px;
    height: 50px;
    background-color: black;
}